
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.karsilama (View'den gösteriliyor)<br />
        @Html.ActionLink("Davetiye Formunu Doldur", "DavetiyeFormu")
    </div>
</body>
</html>
